*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&family=Roboto&display=swap');
header{
    display: flex;
}
body{
    max-width: 1920px;

}
.logo{
    width: 130px;
    margin-top: 30px;
    margin-left: 140px;
    display: flex;
    margin-bottom: 25px;
}
.menu-mobile{
    height: 50px;
    width: 50px;
    display: none;
}
.Menu{
    margin-top: 36px;
    margin-left: 830px;
    display: flex;
    margin-bottom: 25px;
}
main{
    position: relative;
    display: inline-block;
}
.Painel{
    width: 100%;
    height: 80%;
    position: relative;
}
h1{
    position: absolute;
    top: 13%;
    left: 140px;
    font-size: 70px;
    color: white;
}
h2{
    position: absolute;
    top: 20%;
    left: 140px;
    font-size: 35px;
    color: white;
}
.conteúdo{
    display: flex;
    justify-content: space-around;
}
.Erva-mate{
    width: 398px;
    height: 398px;
    display: flex;
    margin-left: 10px;
    margin-top: 60px;
}
.pão-de-queijo{
    width: 398px;
    height: 398px;
    display: flex;
    margin-top: 60px;
}
.muance{
    width: 398px;
    height: 398px;
    display: flex;
    margin-top: 60px;
    
}
.telas{
    width: 398px;
    height: 398px;
    display: flex;
    margin-top: 60px;
}
.fileira2{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}
.Clinica{
    width: 398px;
    height: 398px;
    display: flex;
    margin-left: 10px;
}
.Caneca{
    width: 398px;
    height: 398px;
    display: flex;
}

.Computador{
    width: 398px;
    height: 398px;
    display: flex;
}
.Natfit{
    width: 398px;
    height: 398px;
    display: flex;
}
.fileira3{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}
.Telefone{
    width: 398px;
    height: 398px;
    display: flex;
    margin-left: 10px;
}
.Dribble{
    width: 398px;
    height: 398px;
    display: flex;
}
.Câmeras{
    width: 398px;
    height: 398px;
    display: flex;
}
.Cartões-postais{
    width: 398px;
    height: 398px;
    display: flex;
}
footer{
    display: flex;
    align-items: center;
    height: 200px;
}
.Redes-sociais{
    display: flex;
    margin-top: 86px;
    margin-left: 35px;
    justify-content: space-around;
    width: 25%;
}
.copyright{
    display: flex;
    margin-top: 86px;
    margin-left: 200px;
}
h4{
    font-size: 20px;
}
h5{
    margin-left: 30px;
    width: 50%;
}
.topo{
    height: 25px;
    width: 68px;
    border-radius: 2px;
    border: 3px solid black;
    background: rgb(85, 33, 33);
    color: gray;
    font-size: 20px;
    display: none;
    align-items: ;
}


@media (max-width: 1630px){
    .conteúdo,.fileira2,.fileira3{
        flex-direction: column;
        align-items: center;
    }
    .Menu{
        margin-left: 500px;
    }
    h1{
        position: absolute;
        top: 237px;
    }
    h2{
        position: absolute;
        top: 400px;
    }
    .Erva-mate, .pão-de-queijo, .muance, .telas, .Clinica, .Caneca, 
    .Computador, .Natfit, .Telefone, .Dribble, .Câmeras, 
    .Cartões-postais{
        width: 1000px;
        height: 1000px;
        margin-top: 15px;
    }
}
@media (max-width: 1350px){
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 800px;
    }
    .Menu{
        display: none;
    }
    .logo{
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        
    }
    .menu2{
        background: black;
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display: flex;
        margin-left: 400px;

    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 25px;
    }
    .Erva-mate, .pão-de-queijo, .muance, .telas, .Clinica, .Caneca, 
    .Computador, .Natfit, .Telefone, .Dribble, .Câmeras, 
    .Cartões-postais{
        margin-top: 15px;
    }

}
@media (max-width: 1200px){
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 700px;
    }
    .logo{
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        
    }
    .menu2{
        background: black;
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display: flex;
        margin-left: 400px;

    }
    h1{
        position: absolute;
        top: 170px;
    }
    h2{
        position: absolute;
        top: 320px;
    }
    .Erva-mate, .pão-de-queijo, .muance, .telas, .Clinica, .Caneca, 
    .Computador, .Natfit, .Telefone, .Dribble, .Câmeras, 
    .Cartões-postais{
        width: 600px;
        height: 600px;
        margin-top: 15px;
    }
    footer{
        display: block;
    }
    .Redes-sociais{
        margin: 0 auto;
        margin-top: 80px;
        background: #7FDBD4;
        display: flex;
        justify-content: space-around;
        width: 450px;
        border-radius: 2px;

    }
}

@media (max-width: 1080px){
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 500px;
    }
    .logo{
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        
    }
    .menu2{
        background: black;
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display: flex;
        margin-left: 400px;

    }
}
@media (max-width: 900px){
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 300px;
    }
    .logo{
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        
    }
    .menu2{
        background: black;
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display: flex;
        margin-left: 380px;

    }
    h1{
        position: absolute;
        top: 120px;
        font-size: 35px;
    }
    h2{
        position: absolute;
        top: 210px;
        font-size: 20px;
    }
}
@media (max-width: 700px){
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 100px;
    }
    .logo{
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        
    }
    .menu2{
        background: black;
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display: flex;
        margin-left: 380px;

    }
    .Painel{
        height: 300px;
        width: 100%;
    }
    .Erva-mate, .pão-de-queijo, .muance, .telas, .Clinica, .Caneca, 
    .Computador, .Natfit, .Telefone, .Dribble, .Câmeras, 
    .Cartões-postais{
        width: 300px;
        height: 300px;
        margin-top: 15px;
    }
}
@media (max-width: 676px){
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
   .copyright{
       margin-left: 100px;
   }

}
@media (max-width: 600px){
    .Painel{
        height: 400px;
        width: 100%;
    }
    h1{
        position: absolute;
        top: 150px;
        left: 80px;
        width: 400px;
    }
    h2{
        position: absolute;
        top: 250px;
        left: 80px;
    }
}
@media (max-width: 576px){
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 50px;
    }
    .logo{
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        
    }
    .menu2{
        background: black;
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display: flex;
        margin-left: 430px;

    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
   .copyright{
       margin-left: 10px;
       display: flex;
       flex-direction: column;
       margin-top: 0px;
   }
   h4{
       margin-left: 30px;
   }
   .Painel{
    height: 400px;
    width: 100%;
}
h1{
    position: absolute;
    top: 150px;
    left: 30px;
    width: 400px;
}
h2{
    position: absolute;
    top: 250px;
    left: 30px;
}
}
@media (max-width: 476px){
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 300px;
    }
   .Redes-sociais{
       width: 350px;
       display: flex;
       margin-left: 20px;
   }
    .copyright{
       margin-left: 10px;
       display: flex;
       flex-direction: column;
   }
   h4{
       margin-left: 30px;
   }
}
@media (max-width: 453px){
   h1{
    position: absolute;   
    width: 250px;
    font-size: 40px;
    left: 50px;
    top: 60px;
   }
   h2{
    position: absolute;   
    margin-top: 80px;
    font-size: 20px;
    left: 50px;
    top: 150px;
}
.Painel{
    height: 300px;
    width: 100%;
}
@media (max-width: 396px){

    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 10px;
    }
    .logo{
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        
    }
    .menu2{
        background: black;
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display: flex;
        margin-left: 470px;

    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 300px;
    }
   .Redes-sociais{
       width: 300px;
       display: flex;
       margin-left: 10px;
   }
    .copyright{
       margin-left: 10px;
       display: flex;
       flex-direction: column;
   }
   h4{
       margin-left: 30px;
}
}